<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3>Hi!</h3>
<h3>Doctor have written a prescription for you.</h3>
<h3>Prescription Text</h3>
<h5><%= @prescription %></h5>
........
<h5>Doctor's Email Address</h5>
<h6><%= @doctor_email %></h6>
</h4>
</body>
</html>