<div class="row m-5">

  <div class="col-lg-4">
    <h5 class="mb-3">Add Prescription</h5>
    <%= form_with url: "/add_prescription/#{@patient_id}",method: :post, local: true do |f| %>
      <%= f.text_area :prescription, size: "0x15", class: 'form-control mb-3'%>
      <%= f.submit 'Add Prescription', class: 'btn btn-primary mb-5' %>
    <% end %>
  </div>

  <div class="col-lg-8">
    <%= render 'prescriptions' %>
  </div>

</div>